<nav class="bg-blue-500">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <a routerLink="/" class="flex-shrink-0 flex items-center">
          <img src="assets/logo.png" alt="Pokemon Logo" class="h-10">
        </a>
      </div>
      <div class="flex">
        <a routerLink="/game" routerLinkActive="active-link" class="nav-link cursor-pointer">Game</a>
        <a routerLink="/entities" routerLinkActive="active-link" class="nav-link cursor-pointer">Pokedex</a>
        <a routerLink="/admin" routerLinkActive="active-link" class="nav-link cursor-pointer">Admin</a>
      </div>
    </div>
  </div>
</nav>
