<app-pokemon-navbar></app-pokemon-navbar>

<div class="flex justify-center items-center h-screen">
  <div class="container mx-auto p-6">
    <h1 class="text-xl text-center">Guess the Pokémon</h1>
    <div class="flex justify-center items-center mt-6">
        <button (click)="startNewGame()" class="bg-blue-500 text-white px-4 py-2 mt-2 text-center"  *ngIf="!gameStarted">Start Game</button>
        <button (click)="endGame()" class="bg-red-500 text-white px-4 py-2 mt-2 text-center" *ngIf="gameStarted">End Game</button>
      </div>
    <div class="flex justify-center items-center mt-6" *ngIf="!gameStarted && targetPokemon">
        <img [src]="guessedPokemon.image" alt="{{guessedPokemon.name}}" class="w-64 h-64 object-contain" *ngIf="gameStarted && guessedPokemon">
    </div>
    <div class="mt-6">
      <label for="guess" class="block mb-2 text-center" *ngIf="gameStarted">Your Guess:</label>
      <div class="flex justify-center items-center mt-6" *ngIf="gameStarted">
        <img [src]="guessedPokemon.image" alt="{{guessedPokemon.name}}" class="w-64 h-64 object-contain" *ngIf="gameStarted && guessedPokemon">
      </div>
      <input type="text" id="guess" [(ngModel)]="userGuess" class="border px-4 py-2 rounded-lg w-full" *ngIf="gameStarted">
      <button (click)="handleGuess($event)" class="bg-blue-500 text-white px-4 py-2 mt-2 text-center" *ngIf="gameStarted">Guess</button>
      <p class="mt-6 text-center">Remaining Guesses: {{ remainingGuesses }}</p>
    </div>

    <div *ngIf="gameStarted">
      <div class="flex justify-center items-center mt-6">
        <div style="height: 400px; overflow-y: auto;">
          <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Image</th>
              <th class="px-4 py-2">Name</th>
              <th class="px-4 py-2">Hints</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pokemon of guessedPokemons$ | async; let i = index">
              <td class="border px-4 py-2">
                <img [src]="pokemon.image" alt="{{pokemon.name}}">
              </td>
              <td class="border px-4 py-2">{{pokemon.name}}</td>
              <td class="border px-4 py-2">
                <ul>
                  <li *ngFor="let hint of getHint(i) | async">{{ hint }}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>
<audio id="levelUpSound" #levelUpSound>
    <source src="assets/level-up.mp3" type="audio/mpeg">
</audio>
<audio id="pokemonBattleSound" #pokemonBattleSound>
    <source src="assets/pokemon-battle.mp3" type="audio/mpeg">
</audio> 
<audio id="youWereClose" #youWereClose>
    <source src="assets/you-were-close.mp3" type="audio/mpeg">
</audio> 