<input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search for a Pokémon" class="form-control mb-4 mt-4 mr-4 ml-4 p-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">

<mat-card *ngIf="selectedPokemon" class="pokemon-details mt-4">
  <mat-card-header>
    <mat-card-title>{{selectedPokemon.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="selectedPokemon.image" alt="{{selectedPokemon.name}}" style="width: 128px; height: 128px; object-fit: contain;">
  <mat-card-content>
    <table class="table-auto">
      <tbody>
        <tr>
          <td class="px-4 py-2 font-bold">Type:</td>
          <td class="px-4 py-2" [ngClass]="{'text-blue-500': true}">{{selectedPokemon.types}}</td>

          <td class="px-4 py-2 font-bold">Height:</td>
          <td class="px-4 py-2" [ngClass]="{'text-green-500': true}">{{selectedPokemon.height}}</td>

          <td class="px-4 py-2 font-bold">Weight:</td>
          <td class="px-4 py-2" [ngClass]="{'text-red-500': true}">{{selectedPokemon.weight}}</td>
        </tr>
        <tr>
          <td class="px-4 py-2 font-bold">Male Pct:</td>
          <td class="px-4 py-2" [ngClass]="{'text-yellow-500': true}">{{selectedPokemon.malePct}}</td>

          <td class="px-4 py-2 font-bold">Female Pct:</td>
          <td class="px-4 py-2" [ngClass]="{'text-yellow-500': true}">{{selectedPokemon.femalePct}}</td>

          <td class="px-4 py-2 font-bold">Capt Rate:</td>
          <td class="px-4 py-2" [ngClass]="{'text-yellow-500': true}">{{selectedPokemon.captRate}}</td>
        </tr>
        <tr>
            <td class="px-4 py-2 font-bold">Exp Points:</td>
            <td class="px-4 py-2" [ngClass]="{'text-pink-500': true}">{{selectedPokemon.expPoints}}</td>

            <td class="px-4 py-2 font-bold">Exp Speed:</td>
            <td class="px-4 py-2" [ngClass]="{'text-pink-500': true}">{{selectedPokemon.expSpeed}}</td>
        </tr>
        <tr>
            <td class="px-4 py-2 font-bold">Base Total:</td>
            <td class="px-4 py-2" [ngClass]="{'text-purple-500': true}">{{selectedPokemon.baseTotal}}</td>

            <td class="px-4 py-2 font-bold">HP:</td>
            <td class="px-4 py-2" [ngClass]="{'text-purple-500': true}">{{selectedPokemon.hp}}</td>

            <td class="px-4 py-2 font-bold">Attack:</td>
            <td class="px-4 py-2" [ngClass]="{'text-purple-500': true}">{{selectedPokemon.attack}}</td>
            
            <td class="px-4 py-2 font-bold">Defense:</td>
            <td class="px-4 py-2" [ngClass]="{'text-purple-500': true}">{{selectedPokemon.defense}}</td>

            <td class="px-4 py-2 font-bold">Special:</td>
            <td class="px-4 py-2" [ngClass]="{'text-purple-500': true}">{{selectedPokemon.special}}</td>

            <td class="px-4 py-2 font-bold">Speed:</td>
            <td class="px-4 py-2" [ngClass]="{'text-purple-500': true}">{{selectedPokemon.speed}}</td>
        </tr>
        <tr>
            <td class="px-4 py-2 font-bold">Evolutions:</td>
            <td class="px-4 py-2" [ngClass]="{'text-orange-500': true}">{{selectedPokemon.evolutions}}</td>

            <td class="px-4 py-2 font-bold">Legendary:</td>
            <td class="px-4 py-2" [ngClass]="{'text-orange-500': true}">{{selectedPokemon.legendary}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

  

<div class="flex flex-row flex-wrap overflow-x-auto">
    <mat-card *ngFor="let pokemon of filteredPokemons" class="card m-2" (click)="selectPokemon(pokemon)">
      <img mat-card-image [src]="pokemon.image" alt="{{pokemon.name}}" style="width: 64px; height: 64px; object-fit: contain;">
      <mat-card-content>
        <p>{{pokemon.name}}</p>
      </mat-card-content>
    </mat-card>
</div>
  
